@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  position: absolute;
width: 352px;
height: 100px;
left: 640px;
top: 72px;
}